
/* reset */
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}




body{
  background-color: #efd6c0;
  font-family: 'Roboto', sans-serif;
}


header{
/* border-bottom: 2px solid black; */
background-color: rgb(255, 255, 255);
}

nav{
  background-color: rgb(228, 247, 236) 27);
  display: flex;
  height: 80px;
  padding: 0 30px 0 30px;
}

img{
  width: 83px;
  height: 83px;
}

.logo{
  text-transform: uppercase;
  font-weight: 900;
  color: #fbddc3;
}

nav .logo{
  width: 70px;
}

.menu {
  /* border: 2px solid black; */
}

.menu ul {
  display: flex;
}

.menu ul li {
  list-style: none;
}

.menu ul li a {
  text-decoration: none;
  color: #0597F2;
  margin: 0 20px;
  text-transform: uppercase;
  font-weight: bolder;
}

.menu ul li a:hover{
  color: #F27405;
}

/* wrapper */
.wrapper{
  margin: 0 auto;
  max-width: 1400px;
  width: 100%;
  margin: 0 auto;
}

.flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.gap {
  gap: 40px;
}


/* cta jumbo */
.jumbo{
  height: calc(100vh - 70px);
  background-image: url("img/sfondo.avif");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}

.jumbo .cta {
  /* border: 2px solid black; */
}

.jumbo .cta h1{
  /* border: 2px solid black; */
  font-size: 100px;
  color: white;
  text-align: center;
}

.jumbo .cta .buttons{
  /* border: 2px solid black; */
  display: flex;
  justify-content: center;
  align-items: center;
}


.button{
  /* border: 2px solid black; */
  margin: 30px 20px 0 20px;
  padding: 20px 30px;
  font-weight: bold;
  border-radius: 40px;
  cursor: pointer;
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

.button_1{
  /* border: 2px solid #3C35F2; */
  background-color: #0597F2;
  color: #ffffff;
}

.button_2{
  /* border: 2px solid black; */
  background-color: #F25C05;

}


.button_1 a{
    /* border: 2px solid #3C35F2; */
  background-color: #0597F2;
  text-decoration: none;
  color: white;
}

.button_2 a{
  text-decoration: none;
  color: white;
}



.button_1:hover{
  text-decoration: none;
  background-color: #000000;
  color: rgb(255, 255, 255);
}

.button_2:hover{
  background-color: #000000;
  text-decoration: none;
  color: rgb(255, 255, 255);
}


/* MILESTONE 3 Sections */

/* Sections_2 */

.main-section{
  padding: 20px 0;
}

h2{
  font-size: 50px;
  text-align: center;
  margin: 30px 20px 0 20px;
  padding: 20px 30px;
}

.section .wrapper{
  display: flex;
  justify-content: center;
  align-items: center;
}

.section .img{
  display: flex;
  justify-content: center;
  align-items: center;
}

.section .img img{
  width: 400px;
  height: 300px;
}

.section .txt{
color: #000000;
padding: 20px 80px;
}

.section_2 .wrapper{
  flex-direction: row-reverse;
}



/* <!-- MILESTONE 4  --> */

h2{
  color: black;
  text-decoration: none;
}

.card-container{
display: flex;
justify-content: center;
text-align: center;
}

.card {
  width: 300px;
  background-color: #fff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin: 0 10px;
  padding: 16px;
  text-align: center;
}

.card img {
  max-width: 100%;
  border-radius: 8px;
  margin-bottom: 10px;
}

.card-title {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 10px;
}

.card-description {
  font-size: 14px;
  color: black;
}










